<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>camp</title>
</head>
<body>
    <h1>Avaiable Campground </h1>
    <h3><a href="/campground/new">Add new Campground</a></h3>
    <ul>
        <% for(let ithcamp of campground){ %> 
        <li> <a href="/campground/<%=ithcamp._id %> "> <%= ithcamp.title %> </a>  </li>
        <% } %> 
    </ul>
</body>
</html>