<% layout('layouts/boilerplate') %> 

    <h1>Avaiable Campground </h1>
    <h3><a href="/campground/new">Add new Campground</a></h3>
    <ul>
        <% for(let ithcamp of campground){ %> 
        <li> <a href="/campground/<%=ithcamp._id %> "> <%= ithcamp.title %> </a>  </li>
        <% } %> 
    </ul>