<% layout('layouts/boilerplate') %> 
<div>

    <h3>Enter the Details</h3>
</div>
    <form action="/campground" name="campground" method="post">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title" name="campground[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>

        <div>
            <button type="submit">Save camp</button>
        </div>
    </form>
    <div>
        <h4><a href="/campground">Back to the campground<a></h4>
    </div>
