<% layout('layouts/boilerplate') %> 
    <h1><%= camp.title %> </h1>
    <h2> <%= camp.location %> </h2>
    <a href="/campground/<%=camp._id%>/edit"><h3>Edit the location</h3></a>

    <form action="/campground/<%=camp._id%>?_method=DELETE" method="post">
        <button>DeleteCamp</button>
    </form>
    <br>
    <div>
        <a href="/campground">All campgrounds</a>
    </div>
